@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

form {
     display: flex;
     flex-direction: column;
     margin-top: 20px;

}
button {
     margin-right: 20px;
     margin-top: 15px;
}
.title-product {
     font-family: 'Poppins', sans-serif;

}