@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.home {
     border-radius: 10px;
}
.home .title {
     font-family: 'Poppins', sans-serif;
     font-size: 2rem;
     font-weight: 300;
     line-height: 1.2;
}
.home .subtitle {
     font-family: 'Poppins', sans-serif;
     font-size: 1.1em;
     font-weight: 300;
     line-height: 1.2;
}

.title-product {
     font-family: 'Poppins', sans-serif;

}
.cadastro {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     margin-top: 2rem;
     width: 100%;
     border-radius: 10px;
}